.new-user-container{
  position: relative;
  padding: 0 4rem;
  width: 100%;
}
.user-form {
  max-width: 100%;
  margin: 6rem 1.5rem;
  padding: 1.2rem;
  border: none;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  h2 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    text-align: left;
    color: #A30000;
  }


  .form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

  }

  .form-field {
    display: flex;
    flex-direction: column;


    label {
      margin-bottom: 0.4rem;
      font-weight: 400;
      color: #366600;
    }

    input, p-dropdown {
      width: 100%;
    }
  }

  .form-actions {
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-top: 1rem;
  }
}

.btn-new-user-register{
  background-color: #3B8700;
  border: none;
  color: white;

  &:hover {
    background-color: #3B8700;
    border: none !important;
  }
  &:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
    &:hover {
      background-color: #6c757d !important;
      border-color: #6c757d !important;
    }
  }
}

@media (max-width: 768px) {
  .new-user-container{
    position: relative;
    padding: 0 0.1rem;
    width: 100%;
  }
  .user-form {
    margin: 4rem 1rem;
    padding: 1.2rem;

    .form-grid {
      grid-template-columns: 1fr;
    }

    .form-actions {
      flex-direction: column;
      align-items: flex-start;

      button {
        width: 100%;
      }
    }
  }
}
