.indicator-container{
  flex-grow: 1;
  overflow-y: auto;
  transition: margin-right 0.3s ease;
  height: calc(100vh - 60px);
  background-color: #F9F6F6 !important;

  .indicator-content{
    max-width: 100%;
    margin: 0 auto;

  }
}
.card-indicator {
  background-color: transparent;
  padding: 1rem 1.3rem;
}

::ng-deep .p-toolbar {
  border: 0!important;
  padding: 0!important;
  margin-right: 1rem;
  background-color: transparent!important;
}
::ng-deep .p-panel {
  background-color: white;
  border-radius: 10px !important;

  .p-panel-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    border-radius: 10px 10px 1px 1px!important;
    color: #000000 !important;
    font-weight: 600;
  }

  .p-panel-content {
    padding: 1rem;
  }
}

.panel-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.panel-subtitle {
  font-weight: 600;
  font-size: 16px !important;
  padding: 0.3rem 0;
  color: #000000 !important;
}
.btn-filter{
  font-size: 14px !important;
  margin-top: 2rem ;
  margin-right: 0.5rem;
  background-color: #E62020;
  border: 1px solid #E62020;
  color: white;


  &:hover {
    background-color: #A30000 !important;
    border-color: #A30000 !important;
  }
}
.btn-clean{
  font-size: 14px !important;
}
.input-select{
  width: 100%;
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem 1rem 0 1rem;
}

.indicator-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.title-indicator {
  display: flex;
  gap: 5rem;
  padding: 0 1rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  label {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
  }
  input, p-dropdown {
    width: 100%;
  }
}
.panel-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  .form-field {
    display: flex;
    flex-direction: column;

    label {
      font-weight: 600;
      font-size: 14px !important;
      color: #000;
      margin-bottom: 0.5rem;
    }
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toolbar-spacing{

  font-weight: 600;
  font-size: 14px;
}
/* Estilos para los gráficos Vega */
.vega {
  width: 100%;
  min-height: 250px;
}

h4{
  color: #000000;
}
.btn-report{
  font-size: 14px !important;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 2rem;
  background-color: #FFFFFF;
  border: none;
  color: #E62020;
  &:hover {
    color: #E62020;
    background-color: #FFFFFF;
    border: none;
  }
}



/* Estilos para los paneles */
::ng-deep .p-panel {
  background-color: white;
  border-radius: 6px;
  margin-top: 1rem;


  .p-panel-header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #e9ecef;
    color: #A30000;

    font-weight: 600;
  }
  .p-panel-content {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .indicator-container{
    position: relative;
    padding: 0 0.1rem;
    width: 100%;
  }

  .form-grid {
    grid-template-columns: repeat(1, 1fr);

  }
  .indicator-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.1rem;
  }
  .panel-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  ::ng-deep .p-panel {
    margin: 1rem;
    padding: 0 !important;
  }
  .toolbar-spacing{
    padding:0;
    display: flex;
  }
  .card-indicator {
    margin: 0 !important;
    padding: 0 !important;
  }
  .search {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

}
