<div class="indicator-container">
  <div class="indicator-content">
    <div class="form-grid">
      <div class="form-field">
        <label >
          <i class="pi pi-angle-left" style="font-size: 14px; color: #E62020;"></i><span style="margin-left: 8px; ">Indicadores</span>
        </label>
      </div>
      <div class="form-field">
        <p-toolbar class="toolbar-spacing">
          <ng-template #start>
          </ng-template>
          <ng-template #end>
          </ng-template>
        </p-toolbar>
      </div>
    </div>
    <div class="card-indicator">
      <p-panel  header="Panel de filtros" [toggleable]="true">
        <div class="panel-grid">
          <div class="form-field">
            <p-floatlabel variant="on">
              <p-select [(ngModel)]="value1" inputId="on_category" [options]="category" optionLabel="name"  class="input-select" />
              <label for="on_category" >Categoria</label>
            </p-floatlabel>
          </div>
          <div class="form-field">
            <p-floatlabel  variant="on">
              <p-select [(ngModel)]="value2"  inputId="on_anio" [options]="anios" optionLabel="name"  class="input-select" />
              <label for="on_anio">Año</label>
            </p-floatlabel>
          </div>
        </div>
        <button pButton type="submit" label="Filtrar" icon="pi pi-filter"  class="btn-filter"></button>
        <button pButton type="submit" label="Limpiar" icon="pi pi-filter-slash" class="btn-clean" severity="secondary"></button>
      </p-panel>
      <div class="indicator-grid">
        <p-panel header="Grafico de grado de satisfaccion del usuario">
          <div class="title-indicator">
            <!--        <h4>Grafico de grado de satisfaccion del usuario</h4>-->
          </div>
          <div #vegaContainer class="vega"></div>
          <button pButton type="submit" label="Reporte" icon="pi pi-file-excel"  class="btn-report"></button>
        </p-panel>
        <p-panel header="Grafico de tiempo promedio de respuesta">
          <!--<h4>Grafico de tiempo promedio de respuesta</h4>-->
          <div #vegaLineChart class="vega"></div>
          <button pButton type="submit" label="Reporte" icon="pi pi-file-excel"  class="btn-report"></button>
        </p-panel>
      </div>
    </div>
  </div>
</div>


