.document-container{
  flex-grow: 1;
  overflow-y: auto;
  transition: margin-right 0.3s ease;
  background-color: #F9F6F6;
  height: calc(100vh - 60px);
  .document-content{
    max-width: 100%;
    margin: 0 auto;
  }
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  margin: 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.btn-edit{
  margin-right: 0.5rem;
  border: 1px solid #E62020;
  background-color: #E62020;
  color: #FFFFFF;
  &:hover {
    background-color: #A30000 !important;
    border-color: #A30000 !important;
    color: #FFFFFF;
  }
}
.btn-view{
  margin-right: 0.5rem;
  border: 1px solid #766F6F;
  color: #766F6F;
  &:hover {
    background-color: #E0DCDC !important;
    border-color: #766F6F !important;
    color: #766F6F;
  }
}
::ng-deep .p-checkbox-checked .p-highlight{
  background-color: #3B8700 !important;
  border-color: #3B8700 !important;
}
::ng-deep .p-toolbar {
  border: 0!important;
  padding: 0!important;
  margin-right: 1rem;
  background-color: transparent!important;
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.1rem;
  padding: 2rem 1rem 0 1.5rem;

}
.form-field {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
  }
  input, p-dropdown {
    width: 100%;
  }
}
.m-0{
  margin: 0;
}
.btn-document-index{
  font-size: 14px !important;
  border: 1px solid #E62020;
  background-color: #FAEFEF;
  color: #E62020;

  &:hover {
    border: 1px solid #A30000;
    background-color: #FAEFEF;
    color: #A30000;
  }
}
.btn-document-import{
  font-size: 14px !important;
  margin-right: 0.5rem;
  background-color: #E62020;
  border: 1px solid #E62020;
  &:hover {
    background-color: #A30000 !important;
    border-color: #A30000 !important;
  }
}
.btn-document-upload{
  font-size: 14px !important;
  margin: 0 0.5rem;
  background-color: #FFFFFF;
  border: none;
  color: #E62020;
  &:hover {
    color: #E62020;
    background-color: #FFFFFF;
    border: none;
  }
}
::ng-deep .p-checkbox-checked .p-checkbox-box{
  background-color: #E62020 !important;
  border-color: #E62020 !important;

}
::ng-deep .p-checkbox-input:hover {
  background-color: #A30000 !important;
}


.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toolbar-spacing{
  font-weight: 600;
  font-size: 14px;
}

@media (max-width: 768px) {
  .document-container{
    position: relative;
    padding: 0 0.1rem;
    width: 100%;
  }
  .form-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .toolbar-spacing{
    padding:0;
    display: flex;
  }
  .card {
    margin: 1rem;
    padding: 1rem;
  }
  .search {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
}
