<div class="document-container">
  <div class="document-content">
    <div class="form-grid">
      <div class="form-field">
        <label >
          <i class="pi pi-angle-left" style="font-size: 14px; color: #E62020;"></i><span style="margin-left: 8px; ">Repositorios</span>

        </label>
      </div>
      <div class="form-field">
        <p-toolbar class="toolbar-spacing">
          <ng-template #start>
          </ng-template>
          <ng-template #end>
          </ng-template>
        </p-toolbar>
      </div>
      <div class="form-field">
        <p-toolbar >
          <ng-template #start>
          </ng-template>
          <ng-template #end>
          </ng-template>
        </p-toolbar>
      </div>
    </div>
    <div class="card">
      <button pButton  label="Registrar" icon="pi pi-plus" class="btn-document-import" [routerLink]="['register']"></button>
      <button pButton  label="Indexacion" icon="pi pi-list-check"  class="btn-document-index"></button>
      <p-treetable
        [value]="files"
        [columns]="cols"
        [paginator]="true"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 25]"
        selectionMode="checkbox"
        [(selectionKeys)]="selectionKeys"
        dataKey="key"
        [scrollable]="true"
        [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
          </tr>
        </ng-template>
        <ng-template #body let-rowNode let-rowData="rowData" let-columns="columns">
          <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
            <td *ngFor="let col of columns; let i = index">
              <p-treetable-toggler [rowNode]="rowNode" *ngIf="i === 0" />
              <p-treetable-checkbox [value]="rowNode" *ngIf="i === 0" />
              {{ rowData[col.field] }}
            </td>
          </tr>
        </ng-template>
      </p-treetable>
    </div>
  </div>

</div>



