.user-container{
  position: relative;
  padding: 0 1rem;
  width: 100%;
}

.card {
  background-color: white;
  padding: 1rem;
  border-radius: 6px;
  margin: 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.btn-edit{
  margin-right: 0.5rem;
  border: 1px solid #3B8700;
  color: #3B8700;
  &:hover {
    background-color: darken(#F7FAEF, 8%) !important;
    border-color: lighten(#3B8700, 1%) !important;
    color: #3B8700;
  }
}
.btn-user-register{
  background-color: #3B8700;
  border: 1px solid #3B8700;
  &:hover {
    background-color: darken(#3B8700, 5%) !important;
    border-color: darken(#3B8700, 5%) !important;
  }
}
::ng-deep .p-toolbar {
  border: 0!important;
  padding: 0!important;
  margin-right: 1rem;
  background-color: transparent!important;
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding: 2rem 1rem 0 1.5rem;
}

.form-field {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 500;
    font-size: 30px;
    color: #A30000;
  }
  input, p-dropdown {
    width: 100%;
  }
}
.m-0{
  margin: 0;
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toolbar-spacing{
  font-weight: 600;
  font-size: 14px;
}

@media (max-width: 768px) {
  .user-container{
    position: relative;
    padding: 0 0.1rem;
    width: 100%;
  }
  .form-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .toolbar-spacing{
    padding:0;
    display: flex;
  }
  .card {
    margin: 1rem;
    padding: 0.5rem;
  }
  .search {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
}
