
<div class="user-container">
  <div class="user-content">
    <div class="form-grid">
      <div class="form-field">
        <label>
          <i class="pi pi-angle-left" style="font-size: 14px; color: #E62020;"></i><span style="margin-left: 8px; ">Usuarios</span>
        </label>
      </div>
      <div class="form-field">
        <p-toolbar class="toolbar-spacing">
          <ng-template #start>
          </ng-template>
          <ng-template #end>

          </ng-template>
        </p-toolbar>
      </div>
      <div class="form-field">
        <p-toolbar>
          <ng-template #start>

          </ng-template>
          <ng-template #end>
          </ng-template>
        </p-toolbar>
      </div>
    </div>
    <div class="card">
      <button pButton label="Registrar" icon="pi pi-plus" class="btn-user-register" [routerLink]="['register']"></button>
      <p-table
        #dt
        [value]="users"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 25]"
        [columns]="cols"
        [paginator]="true"
        [globalFilterFields]="['id', 'name', 'email', 'role', 'appUser']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [(selection)]="selectedUsers"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} usuarios"
        [showCurrentPageReport]="true"
      >
        <ng-template  #caption >
          <div class="search">
            <h4 class="m-0">Tabla de usuarios </h4>
            <p-iconfield>
              <p-inputicon styleClass="pi pi-search" />
              <input pInputText type="text"
                     (input)="onGlobalFilter($event)"
                     placeholder="Buscar..." />
            </p-iconfield>
          </div>
        </ng-template>
        <ng-template #header >
          <tr>
            <!--<th style="width: 3rem">
              <p-tableHeaderCheckbox />
            </th>-->
            <th style="width: 1rem">Codigo</th>
            <th >
              Nombre
            </th>
            <th>Correo</th>
            <th  >
              Tipo de usuario

            </th>
            <th style="width: 1rem" >
              Aplicacion
            </th>
            <th >Acciones</th>
          </tr>
        </ng-template>
        <ng-template #body let-user>
          <tr>
            <!--<td style="width: 3rem">
              <p-tableCheckbox [value]="user" />
            </td>-->
            <td style="width: 1rem">{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email}}</td>
            <td>{{ user.role }}</td>
            <td style="width: 1rem">{{ user.appUser}}</td>
            <td>
              <button pButton icon="pi pi-pencil" class="btn-edit" [rounded]="true" (click)="editProduct(user)"></button>
              <button pButton icon="pi pi-trash" severity="danger" class="btn-delete" [rounded]="true" [outlined]="true" (click)="deleteProduct(user)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>
  </div>
</div>



