<div class="user-container">
    <div class="form-grid">
      <div class="form-field">
        <label>
          Administracion de Usuarios
        </label>
      </div>
      <div class="form-field">
        <p-toolbar class="toolbar-spacing">
          <ng-template #start>
          </ng-template>
          <ng-template #end>
            <span style="margin-right: 4px; color: #E62020;">Administracion</span>/ Usuarios
          </ng-template>
        </p-toolbar>
      </div>
      <div class="form-field">
        <p-toolbar>
          <ng-template #start>
            <button pButton label="Registrar" icon="pi pi-plus" class="btn-user-register" [routerLink]="['register']"></button>
          </ng-template>
          <ng-template #end>
          </ng-template>
        </p-toolbar>
      </div>
    </div>
    <div class="card">
      <p-table
        #dt
        [value]="users"
        [rows]="7"
        [rowsPerPageOptions]="[7, 10, 25]"
        [columns]="cols"
        [paginator]="true"
        [globalFilterFields]="['id', 'name', 'email', 'role', 'appUser']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [(selection)]="selectedUsers"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} usuarios"
        [showCurrentPageReport]="true"
      >
        <ng-template  #caption >
          <div class="search">
            <h4 class="m-0">Tabla de usuarios </h4>
            <p-iconfield>
              <p-inputicon styleClass="pi pi-search" />
              <input pInputText type="text"
                     (input)="onGlobalFilter($event)"
                     placeholder="Buscar..." />
            </p-iconfield>
          </div>
        </ng-template>
        <ng-template #header>
          <tr>
            <!--<th style="width: 3rem">
              <p-tableHeaderCheckbox />
            </th>-->
            <th>Codigo</th>
            <th pSortableColumn="name">
              Nombre
              <p-sortIcon field="name" />
            </th>
            <th>Correo</th>
            <th pSortableColumn="role" >
              Tipo de usuario
              <p-sortIcon field="role" />
            </th>
            <th pSortableColumn="appUser" >
              Aplicacion
              <p-sortIcon field="appUser" />
            </th>
            <th >Acciones</th>
          </tr>
        </ng-template>
        <ng-template #body let-user>
          <tr>
            <!--<td style="width: 3rem">
              <p-tableCheckbox [value]="user" />
            </td>-->
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email}}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.appUser}}</td>
            <td>
              <button pButton icon="pi pi-pencil" class="btn-edit" [rounded]="true" [outlined]="true" (click)="editProduct(user)"></button>
              <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteProduct(user)" />
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>

</div>



