.template-container{
  flex-grow: 1;
  overflow-y: auto;
  transition: margin-right 0.3s ease;
  background-color: #F9F6F6 !important;
  height: calc(100vh - 60px);
  .template-content{
    max-width: 100%;
    margin: 0 auto;

  }
}
.card {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  margin: 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.btn-edit{
  margin-right: 0.5rem ;
  border: 1px solid #E62020;
  background-color: #E62020;
  color: #FFFFFF;
  &:hover {
    background-color: #A30000 !important;
    border-color: #A30000 !important;
    color: #FFFFFF;
  }
}
.btn-delete{
  border: 1px solid #E62020;
  background-color: #FAEFEF;
  color: #E62020;
  &:hover {
    background-color: #FAEFEF !important;
    border-color: #A30000 !important;
    color: #A30000 !important;
  }
}
::ng-deep .p-toolbar {
  border: 0!important;
  padding: 0!important;
  margin-right: 1rem;
  background-color: transparent!important;
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.1rem;
  padding: 2rem 1rem 0 1.5rem;

}
.form-field {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
  }
  input, p-dropdown {
    width: 100%;
  }
}

.m-0{
  margin: 0;
}
.btn-new-template{
  font-size: 14px !important;
  margin-right: 0.5rem;
  background-color: #E62020;
  border: 1px solid #E62020;
  &:hover {
    background-color: #A30000 !important;
    border-color: #A30000 !important;
  }
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toolbar-spacing{
  font-weight: 600;
  font-size: 14px;
}

@media (max-width: 768px) {
  .template-container{
    position: relative;
    padding: 0 0.1rem;
    width: 100%;
  }
  .form-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .toolbar-spacing{
    padding:0;
    display: flex;
  }
  .card {
    margin: 1rem;
    padding: 0.5rem;
  }
  .search {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
}
