<!-- Toolbar -->
<div class="app-toolbar"
     [class.collapsed]="sidebarCollapsed && !isMobile"
     [ngClass]="{
    'with-sidebar': sidebarVisible && !sidebarCollapsed && !isMobile,
    'collapsed-sidebar': sidebarVisible && sidebarCollapsed && !isMobile
  }"
>
  <button class="menu-button responsive-only" (click)="toggleCollapse()">
    <i class="pi pi-bars"></i>
  </button>
  <div class="title-box">
    <h1 class="title">
     <img src="assets/alilogo.png" alt="logo" height="40%" width="80%" />
    </h1>
  </div>
  <span class="toolbar-spacer"></span>


  <!-- User Menubar -->
  <p-menu #userMenu [model]="userItems" [popup]="true"></p-menu>
  <div class="user-profile" (click)="userMenu.toggle($event)">
    <span class="user-name">{{userName}}</span>
    <!--<i class="pi pi-user"></i>-->
    <img src="https://i.pravatar.cc/150?img=59" alt="User" class="user-avatar" />

 <!--   <i class="pi pi-angle-down user-icon"></i>-->
  </div>
</div>

<!-- Sidebar -->
<div
  class="sidebar-desktop"
  [class.visible]="sidebarVisible"
  [class.collapsed]="sidebarCollapsed"
>
  <div class="sidebar-content">
    <a
      pButton
      [icon]="sidebarCollapsed ? 'pi pi-bars' : 'pi pi-times'"
      class="menu-button-inside"
      (click)="toggleCollapse()"
    ></a>
    <ul class="sidenav-list">
      <li *ngIf="userRole > 0 && userRole!=3"  routerLink="/main/chat-box" routerLinkActive="active" class="clickable" (click)="onMenuOptionClick()">
        <div class="module-title">
          <!--<i class="pi pi-box"></i>-->
          <i class="material-symbols-outlined">robot_2</i>
          <!--<img [src]="!sidebarCollapsed ? 'assets/icons/HappyChip.svg' : 'assets/icons/HappyChip-active.svg' "  class="icon-img" />-->
          <span *ngIf="!sidebarCollapsed">Asistente</span>
        </div>
      </li>
      <li *ngIf="userRole > 0 && userRole!=3" routerLink="/main/dashboard" routerLinkActive="active" class="clickable" (click)="onMenuOptionClick()">
        <div class="module-title">
          <i class="pi pi-objects-column"></i>
          <span *ngIf="!sidebarCollapsed">Dashboard</span>
        </div>
      </li>
      <!--<li *ngIf="userRole != 2" class="group-title" >Administración</li>-->
      <!-- Módulos dinámicos según rol -->
      <ng-container *ngFor="let module of availableModules">
        <!-- Excluimos Asistente y Dashboard que ya están renderizados arriba -->
        <li *ngIf="module.path == ''" class="group-title" >{{module.label}}</li>
        <li *ngIf="module.path != ''"
            [routerLink]="module.path"
            routerLinkActive="active"
            class="clickable"  (click)="onMenuOptionClick()">
          <div class="module-title">
            <i *ngIf="module.icon.startsWith('pi')" [class]="module.icon"></i>
            <i *ngIf="!module.icon.startsWith('pi')" class="material-symbols-outlined">{{module.icon}}</i>
            <span *ngIf="!sidebarCollapsed">{{module.label}}</span>
          </div>
        </li>
      </ng-container>
      <!--<li routerLink="/users" routerLinkActive="active" class="clickable" (click)="onMenuOptionClick()">
        <div
          class="module-title">
          <i class="pi pi-users"></i>
          <span *ngIf="!sidebarCollapsed">Usuarios</span>
        </div>
      </li>
      <li routerLink="/repositories" routerLinkActive="active" class="clickable" (click)="onMenuOptionClick()">
        <div class="module-title">
          <i class="pi pi-briefcase"></i>
          <span *ngIf="!sidebarCollapsed">Repositorios</span>
        </div>
      </li>
      <li routerLink="/template" routerLinkActive="active" class="clickable" (click)="onMenuOptionClick()">
        <div class="module-title">
          <i class="material-symbols-outlined">layers</i>
          <span *ngIf="!sidebarCollapsed">Plantillas</span>
        </div>
      </li>
      <li routerLink="/indicators" routerLinkActive="active" class="clickable" (click)="onMenuOptionClick()">
        <div class="module-title">
          <i class="material-symbols-outlined">rocket_launch</i>
          <span *ngIf="!sidebarCollapsed">Indicadores</span>
        </div>
      </li>-->
    </ul>
  </div>
  <!-- Toggle de tema fijo al final -->
  <div class="theme-toggle-container">
    <div class="theme-toggle-item" (click)="toggleTheme()">
      <i [class]="isDarkTheme ? 'pi pi-sun' : 'pi pi-moon'"></i>
      <span *ngIf="!sidebarCollapsed"><!--{{ isDarkTheme ? 'Modo claro' : 'Modo oscuro' }}--></span>
    </div>
  </div>
</div>

<!-- Contenido -->
<div
  class="main-content"
  [class.collapsed]="sidebarCollapsed && !isMobile"
  [ngClass]="{
    'with-sidebar': sidebarVisible && !sidebarCollapsed && !isMobile,
    'collapsed-sidebar': sidebarVisible && sidebarCollapsed && !isMobile
  }"
>
 <router-outlet></router-outlet>
</div>

