.card {
  background: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.btn-edit{
  margin-right: 0.5rem ;
}
::ng-deep .p-toolbar {
  margin-bottom: 1rem !important;
  border: 0!important;
  padding: 0!important;
  margin-right: 1rem;
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}

.form-field {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.4rem;
    font-weight: 500;
    font-size: 30px;
    color: #ef3340;
  }
  input, p-dropdown {
    width: 100%;
  }
}

.m-0{
  margin: 0;
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mr-2{
  margin-right: 0.5rem;
}
.ml-2{
  margin-left: 32rem;
}
